// .swiper {
//     max-width: 50%;
//     overflow: visible;
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//   }
//   .swiper-slide {
//     background-position: center;
//     background-size: cover;
//     width: 300px;
//     height: 300px;
//   }

//   .swiper-slide::after {
//     position: absolute;
//     content: "";
//     inset: 0;
//     width: 100%;
//     aspect-ratio: 1/1;
//     border-radius: 50%;
//     background: linear-gradient(to bottom right, #b8b8b88f, #ffffff5e);
//   }
//   .swiper-slide-active::after {
//     background: none;
//   }
//   .swiper-slide > div {
//     text-align: center;
//     display: none;
//     opacity: 0;
//   }
//   .swiper-slide-active div {
//     display: block;
//     opacity: 1;
//   }

//   .swiper-slide h2 {
//     font-size: 1.2rem;
//     font-family: sans-serif;
//     position: relative;
//   }

//   .swiper-slide h2::after {
//     position: absolute;
//     content: "";
//     bottom: -20px;
//     left: 50%;
//     transform: translateX(-50%);
//     height: 2px;
//     background: linear-gradient(#e66465, #9198e5);
//   }

//   @keyframes line {
//     0% {
//       width: 0;
//     }
//     100% {
//       width: 100%;
//     }
//   }

//   .swiper-slide-active h2::after {
//     animation: line 0.5s linear forwards;
//   }
//   .swiper-slide img {
//     display: block;
//     width: 100%;
//     object-fit: cover;
//     box-shadow: 0px 3px 17px rgb(0 0 0 / 25%);
//     border-radius: 50%;
//     aspect-ratio: 1/1;
//   }

//   @media (min-width: 768px) {
//     .swiper-slide h2 {
//       font-size: 2rem;
//     }
//   }


section#goals-mission {
  position: relative;
  width: calc(min(52rem, 90%));
  margin: 0 auto;
  // min-height: 100vh;
  width: 100%;
  column-gap: 3rem;
  padding-block: min(20vh, 3rem);
  text-align: center;
  background-color: #202020;

  color: black;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    letter-spacing: 0.5rem;
    font-weight: 700;
    // font-size: 2rem !important;
    line-height: 1.2;
  }

  p {
    // font-size: 0.9rem;
    // max-width: 680px;
    // line-height: 1.6;
    // margin-inline: auto;
    margin-top: 10px;
  }
}

.swiper-wrapper div {
  width: 350px;
}

.swiper-container {
  position: relative;
  --swiper-theme-color: #fff;
  height: 500px;
  max-width: 1200px;

  // --swiper-navigation-size: 25px;
  --swiper-navigation-top-offset: 50%;
  --swiper-navigation-sides-offset: -30px;
  --swiper-navigation-color: var(--swiper-theme-color);

}

.swiper-wrapper {
  transform: none !important;
}


.swiper-slide {
  border: 2px solid gold;
  box-shadow: -1px 5px 15px #0000001f;

  h2 {
    // padding: 0 1rem;
    padding: 0;
    font-size: 1.6rem;
    margin-right: -0.75rem;
  }

  h3 {
    padding: 0 1rem;
    color: #fff;
    font-size: 1.2rem;
    line-height: 1.4;
    margin-bottom: 0.625rem;
    letter-spacing: 0.4px;
    position: relative;
  }

  p {
    // color: #fff;
    line-height: 1.6;
    font-size: 0.8rem;
  }

  .slide-content {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -45%);
    width: 90%;
  }

  .author {
    grid-template-columns: 1fr;
    justify-items: center;
    position: absolute;
    bottom: -90px;
    width: 100%;
    display: none;
    opacity: 0;

    span {
      color: #111;
      display: block;
      margin: 5px 0 10px 0;
      font-weight: 600;
      font-size: 0.9rem;
    }

    img {
      width: 60px;
      height: 60px;
      object-fit: cover;
      border-radius: 50%;
      border: 3.5px solid white;
    }

    ul {
      display: flex;
      align-items: center;

      li {
        svg {
          width: 20px;
          color: orange;
        }
      }
    }
  }
}

.swiper-slide-active .author {
  display: grid;
  opacity: 1;
}

.swiper-slide--one {
  background: #0575e6;
  /* fallback for old browsers */
}

.swiper-slide--two {
  background: #23074d;
  /* fallback for old browsers */
}

.swiper-slide--three {
  background: #159957;
}

.swiper-button {
  // background: white;
  border-radius: 50%;
  top: 47%;
  width: 50px !important;
  height: 50px !important;
  box-shadow: 0px 2px 11px rgb(0 0 0 / 17%);

  // &-prev {
  //   left: -30px;
  // }

  // &-next {
  //   right: -30px;
  // }

  // &::after {
  //   font-size: 1.4rem;
  //   content: "";
  // }

  // svg {
  //   width: 25px;
  // }
}

.swiper-button-prev,
.swiper-button-next {
  display: none;

  @media (min-width: 760px) {
    display: flex;
  }
}

.swiper-button-prev:after,
.swiper-button-next:after {
  content: none !important;
}