// =========================
// Sub-Folder Imports 
// =========================
@import "normalize";

// =========================
// Variables + Mixins
// =========================

// Variables
$gold: #d5a269;
$secondary: #d4c4bc;
$dark: #1a1a1a;
$white: #F3F3F3;
$break-med: 600px;
$break-lg: 768px;
$break-xl: 1024px;
$font-playfair: 'Playfair Display', serif;
$font-montserrat: 'Montserrat', sans-serif;
$spacing-normal: normal;
$spacing-medium: 0.25rem; //need to adjust
$spacing-large: .75rem;
$line-height-lg: 1.75rem;
$shadow: rgb(0, 0, 0) 0px 20px 30px -10px;

// Mixins
@mixin tablet-only {
    @media (min-width: $break-med) and (max-width: #{$break-lg - 1px}) {
        @content;
    }
}

@mixin tablet-up {
    @media (min-width: $break-med) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: $break-lg) {
        @content;
    }
}

@mixin desktop-lg {
    @media (min-width: $break-xl) {
        @content;
    }
}

@mixin center {
    margin-left: auto;
    margin-right: auto;
}

@mixin playfair {
    font-family: $font-playfair;
    font-weight: 400;
}

@mixin montserrat-thin {
    font-family: $font-montserrat;
    font-weight: 200;
}

@mixin montserrat {
    font-family: $font-montserrat;
    font-weight: 400;
}

@mixin montserrat-bold {
    font-family: $font-montserrat;
    font-weight: 600;
}


// =========================
// Default Layout
// =========================
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    color: $white;
}

main {
    font-size: 1em;
    @include center;
    text-align: center;
}

h1 {
    font-size: 2.75em;
    @include playfair();
    margin: 0;

    @include desktop() {
        font-size: 5em;
    }
}

h2 {
    font-size: 1.5em;
    @include playfair();
    margin: 0;
    letter-spacing: $spacing-large;
    text-transform: uppercase;
    color: $gold;
    margin-top: 0.5rem;
}

h3 {
    margin: 0;
    font-size: 1.75em;
    @include playfair();
    color: $gold;
    letter-spacing: $spacing-large;
    text-transform: uppercase;
}

p {
    margin: 0;
    font-size: 0.85rem;
    @include montserrat-thin();
    line-height: 1.5rem;
    color: $white;
}

a,
a:visited {
    @include montserrat();
    color: rgba(255, 255, 255, .75);
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
}

li {
    font-size: 0.95em;
    @include montserrat();
}

.hide {
    display: none;
}

// =========================
// Reusable Styles
// =========================

//main button
.main-btn {
    display: inline-block;
    width: min-content;
    letter-spacing: $spacing-large;
    border: 1px solid $gold;
    padding: 10px 14px;
    background: rgb(26, 26, 26, 0.7);
    font-size: 0.75rem;

    @include tablet-up () {
        display: initial;
    }

    .main-btn-text {
        text-transform: uppercase;
        color: $gold;
        line-height: 1.5rem;
        margin-right: -10px;
        margin-left: 10px;
        line-height: $line-height-lg;

        @include tablet-up () {
            margin-right: -$spacing-large;
            margin-left: 0;
        }
    }

    &:hover {
        border: 2px solid $gold;
        box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.3);
        cursor: pointer;
    }
}

//TCNA logo
.logo {
    display: flex;
    align-items: center;
    position: relative;

    img {
        height: 30px;
    }

    p {
        @include playfair();
        letter-spacing: $spacing-medium;
        font-size: 30px;
        padding-left: 10px;

        a {
            color: rgba(255, 255, 255, .75);
        }

        a::before {
            content: "";
            display: block;
            inset: 0;
            position: absolute;
        }
    }
}

//font designs
.title-small {
    margin: 0;
    font-size: 0.75rem;
    @include montserrat();
    letter-spacing: $spacing-large;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5rem;
    text-transform: uppercase;
    color: $white;
}

//CTA read more
.read-more {
    font-size: 0.7rem;
    @include montserrat();
    letter-spacing: $spacing-large;
    font-family: 'Montserrat', sans-serif;
    line-height: 2.5rem;
    text-transform: uppercase;
    color: $gold;

    // a:hover {
    //     color: white;
    // }
}

.line {
    position: relative;

    &::after {
        content: "";
        display: block;
        width: 45px;
        height: 1px;
        background: $gold;
        position: absolute;
        right: -30%;
        top: 50%;

        @include desktop() {
            right: -5%;
            top: 50%;
        }

    }
}



// =========================
// Header
// =========================

//main nav
#nav {
    background: $dark;
    padding: 20px;
    border-bottom: 1px solid $gold;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .hamburger {
        position: relative;
        z-index: 100;

        background: $dark;
        border: 1px solid transparent;
        color: $gold;
        width: 40px;
        height: 40px;

        .material-icons {
            font-size: 23px;
        }

        // &:hover {
        //     border: 1px solid $gold;
        // }

        .closeIcon {
            display: none;
        }

        @include desktop {
            display: none;
        }
    }

    .menu {
        position: fixed;
        transform: translateY(-100%);
        transition: transform ease-in-out 0.3s;
        top: 0;
        left: 0;
        right: 0;
        z-index: 99;
        background: #1a1a1a;
        color: white;
        list-style: none;
    }

    .showMenu {
        transform: translateY(23%);
    }

    .menuItem {
        display: block;
        text-align: center;
        margin: 2rem 4rem;
        font-size: 1.8rem;
        color: white;
        text-decoration: none;
    }

    .nav-wrapper {
        display: none;

        @include desktop {
            display: flex;
            justify-content: space-around;
            flex: auto;
            padding-inline-start: 40px;

            li {
                border-bottom: 1px solid transparent;

                &:hover {
                    border-bottom: 1px solid $gold;
                }
            }

            a {
                color: $gold;
                letter-spacing: $spacing-medium;
            }
        }

    }
}

// =========================
// Homepage
// =========================

// homepage - hero banner
.hero {
    background: linear-gradient(to bottom, rgba(0, 0, 0, .85) 15%, rgba(0, 0, 0, 0.3) 45%, rgba(0, 0, 0, 0.55) 90%), url("../assets/img/hero-mobile.jpg") no-repeat 40% 50%;
    background-size: cover;
    height: 600px;
    border-bottom: 1px solid $gold;

    @include desktop() {
        background: linear-gradient(to right, rgba(0, 0, 0, .85) 15%, rgba(0, 0, 0, 0.3) 70%, rgba(0, 0, 0, 0.55) 90%), url("../assets/img/hero.jpg") no-repeat left;
        background-size: cover;
        height: 600px;
    }

    &-text {
        max-width: 360px;
        position: relative;
        top: 8%;
        // margin: 0 auto;
        color: $white;
        letter-spacing: $spacing-large;
        text-transform: uppercase;
        text-align: center;

        @include desktop() {
            text-align: initial;
            max-width: max-content;
            top: 35%;
            left: 5%;
        }

        h1 {
            padding-bottom: 15px;
            line-height: $line-height-lg;

            @include desktop() {
                margin-left: 1.5%;
                line-height: normal;
            }
        }

        .lines {
            color: $gold;
            width: fit-content;
            position: relative;

            @include desktop() {
                font-size: 0.95rem;
            }

            span::before,
            span::after {
                content: "";
                display: block;
                width: 20px;
                height: 1px;
                background: $gold;
                position: absolute;
            }

            span::before {
                left: 20%;
                top: 75%;

                @include desktop() {
                    left: -7%;
                    top: 50%;
                }
            }

            span::after {
                right: 23%;
                top: 75%;

                @include desktop() {
                    right: -5%;
                    top: 50%;
                }
            }
        }
    }
}

//homepage - brochure
.brochure {
    padding-top: 25px;
    padding-bottom: 25px;
    // background-color: #535353;
    background-color: $dark;
    border-bottom: 1px solid $gold;
}

//homepage - quote
.quick-words {
    background: linear-gradient(to bottom, rgba(11, 11, 11, .9) 15%, rgba(11, 11, 11, 0.9) 100%), url("../assets/img/background-sheep.webp") no-repeat 40% 50%;
    background-size: cover;
    background-attachment: fixed;
    border-bottom: 1px solid $gold;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include desktop() {
        height: 500px;
    }



    &-wrapper {
        padding-top: 50px;
        padding-bottom: 50px;

        @include desktop() {
            margin: 0 auto;
            max-width: 900px;
        }
    }

    &-top {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 80%;
        max-width: 400px;


        @include desktop() {
            height: 350px;
            min-width: 768px;
            max-width: 900px;
        }
    }

    &-title {
        text-align: left;

        @include desktop () {
            position: relative;
            right: -42%;
            top: 16%;
        }
    }

    img {
        position: relative;
        z-index: 1;
        width: 100%;
        box-shadow: $shadow;
        margin-top: 0.5rem;

        @include desktop {
            max-width: 350px;
            position: relative;
            right: 9%;
            top: -13%;
        }
    }


    &-bottom {
        background-color: #1a1a1a;
        padding: 60px 4% 5px;
        margin: -30px auto 0;
        width: 95vw;
        max-width: 600px;
        text-align: left;

        @include desktop {
            position: relative;
            max-width: 750px;
            left: 3%;
            top: -31%;
            padding: 30px;

            .text-block,
            .read-more {
                padding-left: 38%;
            }

            .line::after {
                right: -27%;
            }
        }

        a {
            color: $gold;
        }
    }
}

//homepage - cards 
.card {
    @include desktop {
        display: flex;
    }

    .lines {
        color: $gold;
        width: fit-content;
        position: relative;

        span::before,
        span::after {
            content: "";
            display: block;
            width: 20px;
            height: 1px;
            background: $gold;
            position: absolute;
        }

        span::before,
        span::after {
            top: 50%;
        }
    }

    .card-wrapper {
        flex-basis: 33.33%;
        padding: 20px;

        .card-border {
            border: 1px solid transparent;

            &:hover {
                border: 1px solid grey;
            }
        }

        &.one {
            background: linear-gradient(to bottom, rgba(11, 11, 11, .7) 15%, rgba(11, 11, 11, 0.7) 100%), url("../assets/img/tornjak-pandora.jpg") no-repeat top center;
            background-size: cover;

            .lines span::before {
                left: -17%;

                @include desktop() {
                    left: -28px;
                }
            }

            .lines span::after {
                right: -10%;

                @include desktop() {
                    right: -17px;
                }
            }
        }

        &.two {
            background: linear-gradient(to bottom, rgba(11, 11, 11, .7) 15%, rgba(11, 11, 11, 0.7) 100%), url("../assets/img/tornjak-ola.jpg") no-repeat top center;
            background-size: cover;

            @include desktop {
                order: -1;
            }

            .lines span::before {
                left: -25%;

                @include desktop() {
                    left: -28px;
                }
            }

            .lines span::after {
                right: -17%;

                @include desktop() {
                    right: -17px;
                }
            }
        }

        &.three {
            background: linear-gradient(to bottom, rgba(11, 11, 11, .7) 15%, rgba(11, 11, 11, 0.7) 100%), url("../assets/img/tornjak-dagon.jpg") no-repeat 20% 20%;
            background-size: cover;

            .lines span::before {
                left: -17%;

                @include desktop() {
                    right: -17px;
                }
            }

            .lines span::after {
                right: -10%;

                @include desktop() {
                    right: -17px;
                }
            }
        }
    }

    .card-border {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 400px;
    }

    .card-text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main-btn {
        margin-top: 37px;
    }

    span {
        display: block;
        width: max-content;
    }

}

// =========================
// Breed Page
// =========================

#page-breed {
    .hero {
        background: linear-gradient(to right, rgba(0, 0, 0, .75) 15%, rgba(0, 0, 0, 0.75) 90%), url("../assets/img/hero.jpg") no-repeat left;
        background-size: cover;
    }
}

.two-col {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    &-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: clamp(360px, 80%, 900px);
        height: 40vh;
    }

    &-text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;

        &-block {
            display: flex;
            flex-direction: column;
            gap: 5%;
            margin-top: 1.5rem;
            text-align: left;
            font-size: 0.75rem;
            color: #fff;

            @include desktop {
                flex-direction: row;
            }

            p {
                margin-bottom: 0.5rem;
            }
        }
    }
}


// breed - overlap card
.overlap {
    display: flex;
    justify-content: center;
    background: #202020;

    &-quote {
        display: flex;
        flex-direction: column;
        width: 85%;
        align-items: center;

        @include desktop {
            flex-direction: row;
        }
    }

    .offset-card {
        display: flex;
        flex-direction: column;
        width: clamp(360px, 80%, 900px);
        margin: -4rem 4rem 2rem 4rem;
        background-color: #fff;
        padding: 2rem;
        text-align: left;

        @include desktop {
            margin: -4rem 4rem 4rem 4rem;
            order: 1;
        }

        .title-small {
            color: #000;
        }

        .line {
            margin: 0.5rem 0 1.5rem;
            padding-bottom: 50px;

            &::after {
                left: 0;
                top: 87%
            }
        }

        p {
            color: #000;
            @include montserrat;
        }
    }

    .read-more a {
        color: $gold;
    }
}

// =========================
// Footer
// =========================
footer {
    background: $dark;

    .footer {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 40px 10px;

        @include desktop() {
            justify-content: space-between;
            margin: 0 auto;
            max-width: 1400px;
            padding: 40px 30px;
        }

        svg {
            margin-right: 5px;
        }

        a {
            color: $gold;
        }

        .contact,
        .credentials {
            display: flex;
            flex-direction: column;

            p {
                letter-spacing: $spacing-medium;
                line-height: 2.5rem;
                color: $gold;


            }

            .small-text {
                font-size: 0.75rem;
            }
        }

        .contact {
            align-items: flex-start;
        }

        .credentials {
            align-items: flex-end;
        }
    }
}

@import "breed-page";